@font-face {
  font-family: poppins;
  src: url("./assets/poppins");
}

:root {
  --pri-color: #0b0b0b;
  --sec-color: #383838;
  --font-color1: #eee;
  --font-color2: #a0a0a0;
  --p-size: 1.3em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--font-color1);
}

body {
  font-family: poppins;
  width: 100vw;
  height: 100%;
  background-color: var(--pri-color);
  color: var(--font-color1);
  overflow-x: hidden;
  /* hide scroll bar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scroll bar */
body::-webkit-scrollbar {
  display: none;
}

/* header */
header {
  height: 80px;
  width: 100%;
  background-color: var(--pri-color);
  position: fixed;
  padding: 10px 50px 10px;
  z-index: 2;
  color: var(--font-color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#burger-menu, #remove-burger{
  display: none;
}

header nav {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

header h1 {
  display: inline;
  letter-spacing: 0.3em;
  font-size: 45px;
  font-weight: 800;
  background: linear-gradient(
    to bottom right,
    var(--font-color1),
    var(--font-color1),
    #777,
    var(--font-color1),
    var(--font-color1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

header a,
header a i {
  font-size: 1.3em;
}

nav a:hover,
header a i:hover {
  color: var(--font-color2);
}

/* main */
main {
  padding-top: 200px;
}

/* hero */

#hero {
  text-align: center;
  padding: 0px 20px;
}

#hero h1 {
  font-size: 3em;
}

#hero p {
  font-size: 1.3em;
  letter-spacing: 1.5px;
}

#hero p:first-of-type {
  color: var(--font-color2);
  margin-bottom: 80px;
  letter-spacing: 4px;
}

#hero a {
  display: block;
  width: fit-content;
  border: 2px solid var(--font-color2);
  padding: 10px;
  margin: 0px auto;
  transition: 1s ease-in-out;
}

#hero a:first-of-type {
  margin: 60px auto 20px;
}

#hero a:last-of-type {
  margin: 0px auto 60px;
}

#hero a:hover {
  background-color: var(--sec-color);
}

/* sections */

section:not(#hero) {
  padding: 2% 8%;
}

.heading {
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}

/* about */

#about p {
  font-size: 1.3em;
  line-height: 1.5em;
}

/* project */

.project-box {
  display: flex;
  gap: 3%;
  justify-content: flex-start;
  align-items: center;
}

.sn {
  font-size: 2.5em;
}

.project {
  width: 40%;
  min-height: 15%;
  /* border: 2px solid var(--sec-color); */
  background-color: #101010;
  box-shadow: 10px 10px 10px 5px #000;
  margin-bottom: 4%;
  padding: 40px 20px;
}

.project h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 40px;
  font-size: 1.5em;
}

.project p {
  text-align: center;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.tech span {
  border: 1px solid var(--sec-color);
  padding: 5px;
}
/* skills */

.skills-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  font-size: 1em;
  width: fit-content;
  border: 3px solid var(--sec-color);
  padding: 10px;
}

.skill:hover {
  background-color: var(--sec-color);
}

/* articles */

.articles-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.article {
  /* margin: 10px 0; */
  min-height: 150px;
  width: 20%;
  background-color: #101010;
  box-shadow: 10px 10px 10px 5px #000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  font-size: 1.05em;
}

.article:hover {
  transform: scale(1.1);
}

.article .article-date {
  margin-bottom: 10px;
  color: var(--font-color2);
}

.article h3 {
  font-size: 1.15em;
  margin-bottom: 20px;
}

.article .readtime {
  color: var(--font-color2);
}

.article .readtime i {
  display: inline-block;
  margin-right: 5px;
  color: var(--font-color2);
}

/* contact */

#contact {
  text-align: center;
}

#contact h2 {
  margin: 50px 0px 30px;
  font-weight: 100;
  font-size: 3.5em;
}

#contact p {
  margin-bottom: 40px;
  font-size: 1.3em;
}

#contact .social {
  margin-bottom: 100px;
  display: flex;
  gap: 3%;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

#contact .social i {
  color: var(--font-color2);
}

#contact .social i:hover {
  color: var(--font-color1);
  transform: scale(1.2);
}

@media screen and (max-width: 950px) {
  /* projects */

  .sn {
    font-size: 2.2em;
  }

  .project {
    width: 350px;
    max-height: 300px;
    padding: 30px 20px;
  }

  .project h3 {
    gap: 10px;
    margin-bottom: 30px;
    font-size: 1.35em;
  }

  .tech {
    margin-top: 25px;
  }

  /* articles */
  .article {
    height: 150px;
    width: 200px;
    padding: 10px;
    gap: 5px;
    font-size: 1.02em;
  }

  .articles-box {
    gap: 2em;
  }

  /* contact */
  #contact h2 {
    font-size: 3em;
  }

  #contact p {
    margin-bottom: 30px;
    font-size: 1.1em;
  }

  #contact .social {
    margin-bottom: 80px;
    gap: 3%;
    font-size: 1.45em;
  }

  #contact .social i:hover {
    color: var(--font-color2);
    transform: scale(1);
  }
}

@media screen and (max-width: 800px) {
  /* header */
  header {
    height: 80px;
    width: 100%;
    padding: 10px 30px 10px;
  }

  header h1 {
    letter-spacing: 0.25em;
    font-size: 40px;
  }

  header a {
    font-size: 1.15em;
  }

  /* hero */
  main {
    padding-top: 180px;
  }
  
  #hero h1 {
    font-size: 2.5em;
  }
  
  #hero p {
    font-size: 1.2em;
    letter-spacing: 1.3px;
  }
  
  #hero p:first-of-type {
    margin-bottom: 60px;
    letter-spacing: 3.5px;
  }
  
  #hero a:first-of-type {
    margin: 50px auto 20px;
  }

  /* about */

  #about p {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  
}

@media screen and (max-width: 650px) {
  .heading {
    font-size: 1.7em;
    margin-bottom: 30px;
  }

  /* header */
  header {
    height: 100px;
    padding: 5px 25px 20px;
  }

  header nav {
    gap: 7%;
    margin-top: 80px;
  }

  header a {
    font-size: 1.1em;
  }

  nav a:hover,
  header a i:hover {
    color: var(--font-color1);
  }

  /* hero */
  
  #hero h1 {
    font-size: 2.2em;
  }
  
  #hero p {
    font-size: 1.1em;
    letter-spacing: 1.1px;
  }
  
  #hero p:first-of-type {
    letter-spacing: 3px;
  }
  
  #hero a:first-of-type {
    margin: 50px auto 10px;
  }
  
  #hero a:hover {
    transition: none;
    background-color: var(--pri-color);
  }

  /* about */

  #about p {
    font-size: 1.1em;
    line-height: 1.1em;
  }

  /* projects */
  .sn {
    display: none;
  }

  .project-box {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {

  .heading {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin-bottom: 25px;
  }

  /* nav */

  header {
    height: 80px;
    padding: 20px;
    /* border: 1px solid red; */
  }

  header nav {
    position: absolute;
    width: 40%;
    height: 100vh;
    background-color: var(--pri-color);
    border-left: 5px solid var(--sec-color);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20%;
    gap: 0;
    top: 0;
    right: 0;
    display: none;
  }

  header a {
    font-size: 1.05em;
    padding: 10px;
  }

  #github-icon{
    display: none;
  }

  #github-iconNav{
    font-size: 1.5em;
  }

  #burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding: 5px;
    width: 55px;
    height: 40px;
    
  }

  #burger-menu div{
    width: 100%;
    height: 12%;
    background-color: #eee;
  }

  .nav{
    display: flex;
  }

  .line-menu{
    transition: 0.5s ease-in-out;
  }

  .line-menu1{
    transform-origin: right;
    transform: rotate(-40deg);
  }

  .line-menu3{
    transform-origin: right;
    transform: rotate(40deg);
  }

  .line-menu2{
    display: none;
  }



  /* main */
  main {
    padding-top: 120px;
  }

  /* hero */

  #hero h1 {
    font-size: 2em;
  }

  #hero p {
    font-size: 1.05em;
    letter-spacing: 1.05px;
  }

  #hero p:first-of-type {
    margin-bottom: 40px;
    letter-spacing: 2px;
  }

  #hero a {
    font-size: 0.8em;
  }

  #hero a:first-of-type {
    margin: 40px auto 10px;
  }

  #hero a:last-of-type {
    margin: 0px auto 50px;
  }


  /* projects */

  .project {
    width: 350px;
    max-height: 400px;
    background-color: #101010;
    padding: 20px 15px;
  }

  .project h3 {
    margin-bottom: 20px;
    font-size: 1.25em;
  }

  .tech {
    margin-top: 20px;
  }

  /* articles */
  .article {
    font-size: 1em;
  }

  .articles-box {
    gap: 1.5em;
  }

  .article:hover {
    transform: scale(1);
  }

  #contact h2 {
    margin: 40px 0px 25px;
    font-size: 2.5em;
  }

  #contact p {
    margin-bottom: 20px;
    font-size: 1em;
  }

  #contact .social {
    margin-bottom: 50px;
    gap: 3.5%;
    font-size: 1.3em;
  }

  #contact .social i:hover {
    color: var(--font-color2);
    transform: scale(1);
  }
}
